section{
	width: 100vw;
	>.list{
		padding: 20px;
		overflow: hidden;
		li{
			float: left;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}

/* 상위경로 */
.btn{
	position: fixed;
	&.active{
		color: #f70;
	}
}