@charset "UTF-8";
section {
  width: 100vw;
}
section > .list {
  padding: 20px;
  overflow: hidden;
}
section > .list li {
  float: left;
  margin-right: 10px;
}
section > .list li:last-child {
  margin-right: 0;
}

/* 상위경로 */
.btn {
  position: fixed;
}
.btn.active {
  color: #f70;
}